$primary_color: rgb(165, 19, 78);
$second_color: rgb(253, 204, 92);
$dark_color: rgb(32, 45, 58);

@font-face {
  font-family: Vazir;
  src: url('/assets/fonts/Vazir.woff2') format('woff2'),
    url('/assets/fonts/Vazir.woff') format('woff'),
    url('/assets/fonts/Vazir.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  height: 100%;
}

body {
  background: #eee;
  font-family: Vazir, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
  font-weight: 100;
  margin-bottom: 0;
}

h5 {
  margin: 0;
  opacity: 0.7;
  font-weight: 400;
  font-family: monospace;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.plyr {
  width: 1024px;
  border-radius: 0.7rem;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  border-top: 1rem solid $second_color;
}

.plyr__controls {
  position: static !important;
  padding-top: 10px !important;
  width: 100%;
  background: $primary_color !important;
}

.plyr--full-ui input[type='range'] {
  background: rgba(255, 255, 255, 0.3);
  padding: 3px 10px !important;
  height: 11px;
}

.plyr--full-ui input[type='range'] {
  color: $second_color;
}

.plyr--video .plyr__control.plyr__tab-focus,
.plyr--video .plyr__control:hover,
.plyr--video .plyr__control[aria-expanded='true'] {
  background: $second_color;
  background: var(
    --plyr-video-control-background-hover,
    var(--plyr-color-main, var(--plyr-color-main, $second_color))
  );
}

.plyr__controls__item.plyr__control[data-plyr='play'] {
  color: $second_color;
}

.plyr__controls__item.plyr__control[data-plyr='play']:hover {
  color: #fff;
}

.plyr__control--overlaid {
  background: none;
  margin-top: -30px;
  margin-left: -30px;
  transform: scale(5);
}

.plyr__control--overlaid:hover {
  transform: scale(6) !important;
}

.plyr__control--overlaid svg {
  fill: $second_color;
}

.plyr__control--overlaid:hover {
  background: transparent !important;
}

.plyr__controls__item.plyr__volume {
  transform: rotate(-90deg);
  margin-top: -130px;
  position: absolute;
  left: 0;
  padding-left: 10px;

  .plyr--full-ui input[type='range'] {
    color: red;
  }
}

.plyr__tooltip {
  background: $dark_color;
  color: #fff;
}

.plyr__tooltip::before {
  border-top-color: $dark_color;
}

.plyr__progress__buffer {
  display: none !important;
}

.plyr--full-ui input[type='range']::-webkit-slider-thumb {
  background: transparent;
  box-shadow: none;
  margin-top: 2px;
}

.plyr--full-ui input[type='range']::-webkit-slider-runnable-track {
  height: 15px !important;
  height: var(--plyr-range-track-height, 15px) !important;
}

.plyr__controls__item.plyr__volume::before {
  content: '';
  border-bottom: 4px solid transparent;
  border-bottom: var(--plyr-tooltip-arrow-size, 4px) solid transparent;
  border-top: 4px solid transparent;
  border-top: var(--plyr-tooltip-arrow-size, 4px) solid transparent;
  border-right: 4px solid $dark_color;
  border-right: var(--plyr-tooltip-arrow-size, 4px) solid
    var(--plyr-tooltip-background, $dark_color !important);
  height: 0;
  position: absolute;
  width: 0;
  z-index: 2;
  margin-right: -15px;
  right: 100%;
  top: 40%;
}
